@import './variables.css';

body {
    font-family: var(--font-family);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    // fix normalize.css margin
    margin: 0px !important;
}
