@import './variables.css';

body {
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white-color);
    margin: 0px !important;
}
// rtl
body[dir=rtl] {
  img {
    transform: scaleX(-1);
  }
}
.login-form__forgot:active, .dont-have-acc__sing-up:active { 
  text-shadow: 1px 1px 2px var(--white-color), 0 0 1em var(--dark-color);
  transition: text-shadow 0.2s linear;
}
button {
  border: none;
}
button:focus {
  outline: none !important;
  box-shadow: 0 0 10px var(--sec-bgcolor);
}
input[type="text"], input[type="password"] {
  background-color : var(--sec-color) !important; 
  background-position: 320px;
}
input[type="password"]:focus, input[type="text"]:focus {
  outline: none !important;
  box-shadow: 0 0 10px var(--sec-bgcolor);
}
